body{
    margin: 0;
}

ul{
    background-color: blue;
    display: flex;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        text-align: center;
        flex-grow: 1;
        transition: background 400ms linear, color 400ms ease;
        a{
            color: yellow;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    li:hover{
        background: yellow;
        a{
            color: blue;
        }
    }
}

.video-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin-top: 20px;
    > * {
        min-width: 25%;
        max-width: 35%;
        border: 1px solid black;
        min-height: 350px;

    }
    video {
        width: 100%;
    }
    :not(video){
        padding: .5rem;
    }
    div{
        span{
            margin-right: 10px;
            cursor: pointer;
        }
    } 
}

.link-back{
    display: flex;
    height: 50px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    a{
        color: rgb(10, 127, 223);
        text-decoration: none;
        text-transform: uppercase;
        background-color: rgb(208, 240, 95);
        display: flex;
        width: 200px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: background 300ms linear, color 300ms ease;
    }
    a:hover{
        color: rgb(188, 10, 223);
        background-color: rgb(116, 240, 240);
    }
}

.admin-panel{
    display: flex;
    height: 20vh;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    a{
        color: rgb(10, 127, 223);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        background-color: rgb(208, 240, 95);
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: background 300ms linear, color 300ms ease;
    }
    a:hover{
        color: rgb(188, 10, 223);
        background-color: rgb(116, 240, 240);
    }
}

.store-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin-top: 20px;
    > * {
        min-width: 20%;
        max-width: 25%;
        border: 1px solid black;
        min-height: 350px;

    }
    .product {
        width: 100%;
    }
    :not(.product){
        padding: .5rem;
    }
    a{
        display: flex;
        text-decoration: none;
        img{
            width: 100%;
        }
    } 
}

.rest-box{
    margin: 0 auto;
    width: 95%;
    > * {        
        border: 1px solid black;
        min-height: 300px;

    }
    .product {
        width: 100%;
    }
    :not(.product){
        padding: .5rem;
    }
    .food{
        width: 100%;
        display: flex;
        margin: 15px 0;
        .food__link_img{
            display: block;
            width: 300px;
            .link_img{
                width: 100%;
            }
        }
        .food__content{
            width: 70%;
            .content_info{
                display: flex;
                .content_weiht, .content_price{
                    padding: 0;
                }
            }
        }
    }
}